@mixin flex() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin center() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin button() {
    padding: 12px 14px 12px 16px;
    border-radius: 8px;
    background: $white;
    color: $black;
    min-width: 224px;
    @include flex;
    justify-content: space-between;
    cursor: pointer;
    transition: background 0.25s ease;

    span {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
    }

    svg {
        width: 18px;
        height: 16px;
        fill: $black;
    }

    &:hover {
        background: $contrastColor;
    }
}
